USE [master]
GO
/****** Object:  Database [KladionicaDB]    Script Date: 5/26/2024 10:17:56 PM ******/
CREATE DATABASE [KladionicaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KladionicaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KladionicaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KladionicaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KladionicaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KladionicaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KladionicaDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/26/2024 10:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisniks]    Script Date: 5/26/2024 10:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisniks](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](max) NOT NULL,
	[Prezime] [nvarchar](max) NOT NULL,
	[Datum_rođenja] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Korisniks] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Okladas]    Script Date: 5/26/2024 10:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Okladas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Ulog] [int] NOT NULL,
	[TipOklade] [nvarchar](max) NOT NULL,
	[Datum] [datetime2](7) NOT NULL,
	[ID_korisnik] [int] NOT NULL,
 CONSTRAINT [PK_Okladas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utakmicas]    Script Date: 5/26/2024 10:17:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utakmicas](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Datum] [datetime2](7) NOT NULL,
	[Tim1] [nvarchar](max) NOT NULL,
	[Tim2] [nvarchar](max) NOT NULL,
	[ID_oklada] [int] NOT NULL,
 CONSTRAINT [PK_Utakmicas] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240525063053_InitialCreate', N'8.0.5')
GO
SET IDENTITY_INSERT [dbo].[Korisniks] ON 

INSERT [dbo].[Korisniks] ([ID], [Ime], [Prezime], [Datum_rođenja]) VALUES (9, N'Josko', N'Gvardiol', CAST(N'2024-05-26T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Korisniks] ([ID], [Ime], [Prezime], [Datum_rođenja]) VALUES (10, N'Ivan', N'Ivančić', CAST(N'2024-05-15T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[Korisniks] ([ID], [Ime], [Prezime], [Datum_rođenja]) VALUES (11, N'Marko', N'Markić', CAST(N'2000-06-15T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Korisniks] OFF
GO
SET IDENTITY_INSERT [dbo].[Okladas] ON 

INSERT [dbo].[Okladas] ([ID], [Ulog], [TipOklade], [Datum], [ID_korisnik]) VALUES (54, 100, N'Multi', CAST(N'2024-05-26T00:00:00.0000000' AS DateTime2), 9)
INSERT [dbo].[Okladas] ([ID], [Ulog], [TipOklade], [Datum], [ID_korisnik]) VALUES (55, 250, N'Multi', CAST(N'2024-05-26T00:00:00.0000000' AS DateTime2), 10)
INSERT [dbo].[Okladas] ([ID], [Ulog], [TipOklade], [Datum], [ID_korisnik]) VALUES (56, 500, N'Single', CAST(N'2024-05-26T00:00:00.0000000' AS DateTime2), 11)
SET IDENTITY_INSERT [dbo].[Okladas] OFF
GO
SET IDENTITY_INSERT [dbo].[Utakmicas] ON 

INSERT [dbo].[Utakmicas] ([ID], [Datum], [Tim1], [Tim2], [ID_oklada]) VALUES (101, CAST(N'2024-05-28T00:00:00.0000000' AS DateTime2), N'Man City', N'Arsenal', 56)
INSERT [dbo].[Utakmicas] ([ID], [Datum], [Tim1], [Tim2], [ID_oklada]) VALUES (102, CAST(N'2024-05-27T00:00:00.0000000' AS DateTime2), N'Chelsea', N'Brighton', 56)
INSERT [dbo].[Utakmicas] ([ID], [Datum], [Tim1], [Tim2], [ID_oklada]) VALUES (103, CAST(N'2024-05-30T00:00:00.0000000' AS DateTime2), N'Leverkusen', N'Bayern', 56)
SET IDENTITY_INSERT [dbo].[Utakmicas] OFF
GO
/****** Object:  Index [IX_Okladas_ID_korisnik]    Script Date: 5/26/2024 10:17:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Okladas_ID_korisnik] ON [dbo].[Okladas]
(
	[ID_korisnik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Utakmicas_ID_oklada]    Script Date: 5/26/2024 10:17:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Utakmicas_ID_oklada] ON [dbo].[Utakmicas]
(
	[ID_oklada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Okladas]  WITH CHECK ADD  CONSTRAINT [FK_Okladas_Korisniks_ID_korisnik] FOREIGN KEY([ID_korisnik])
REFERENCES [dbo].[Korisniks] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Okladas] CHECK CONSTRAINT [FK_Okladas_Korisniks_ID_korisnik]
GO
ALTER TABLE [dbo].[Utakmicas]  WITH CHECK ADD  CONSTRAINT [FK_Utakmicas_Okladas_ID_oklada] FOREIGN KEY([ID_oklada])
REFERENCES [dbo].[Okladas] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Utakmicas] CHECK CONSTRAINT [FK_Utakmicas_Okladas_ID_oklada]
GO
USE [master]
GO
